.main {
  padding: 1rem;
  border: 2px solid black;
  width: 260px;
  cursor: pointer;
}

.main h2 {
  margin-bottom: 0.5rem;
}

.main img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.noImage {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
